* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
html body {
  max-width: 100vw;
  height: 100%;
  background-color: #fdf4eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #e7cfb0;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
header div h1 {
  font-size: 4rem;
  margin: 5px 0px 5px 20px;
  font-weight: 500;
}
header div h2 {
  font-size: 2.5rem;
  margin: 5px 0px 5px 20px;
  font-weight: 500;
}
header div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header div ul li {
  font-size: 1.7rem;
  list-style-type: none;
  margin: 40px auto;
  transition: transform 0.2s ease-out;
  padding: 3px;
  width: fit-content;
}
header div ul li a {
  text-decoration: none;
  color: #000000;
  padding: 3px;
}

.nsli {
  text-decoration: underline 2px #804000;
}

.ulHeader {
  display: flex;
  flex-direction: row;
}

main {
  margin-top: 230px;
  max-width: 100vw;
}
main div {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
main div h5 {
  font-size: 2rem;
  margin: 7px 3px 3px 5px;
  font-weight: 400;
}

section .listaMateriales {
  margin: 15px 30px;
}
section .listaMateriales li {
  font-size: 2rem;
}

.calculadoraPresupuestos {
  font-size: 2.4rem;
  border-radius: 5px;
  padding: 5px;
  background-color: #e7cfb0;
  margin: 100px auto 0 auto;
  border: none;
}
.calculadoraPresupuestos:hover {
  transform: scale(1.02);
}

.catalogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e7cfb0;
  border-radius: 5px;
  width: 100%;
}
.catalogo h4 {
  font-size: 2.5rem;
  margin: auto;
}
.catalogo table {
  margin: auto;
}
.catalogo table thead th {
  font-size: 1.7rem;
  padding: 3px 5px;
}
.catalogo table tbody td {
  font-size: 1.7rem;
  padding: 3px 5px;
}

.muestraTrabajo {
  width: 100vw;
  height: 320px;
  margin: 10px 0;
  border-radius: 5px;
}

.introduccion {
  font-size: 1.6rem;
  text-align: justify;
  margin: 4px 10px;
}

.antesDespues {
  margin: auto;
  font-size: 2rem;
}

.welcome {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  margin: 7px;
}

p {
  font-size: 2rem;
  margin: 7px;
}

.cart {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.quantity {
  display: flex;
  align-items: center;
}

input[type=text] {
  width: 30px;
  text-align: center;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.minus-btn, .plus-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #6b6c65;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
}

.plus-btn {
  margin-left: 10px;
}

.minus-btn {
  margin-right: 10px;
}

.plus-btn:hover,
.minus-btn:hover {
  background-color: #e6e6e6;
}

#confirmarCompra {
  font-size: 2rem;
  margin: 10px;
  padding: 3px;
  background-color: #e7cfb0;
  border-radius: 10px;
  border: none;
}

.formHolder {
  background-color: #e7cfb0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.formHolder label {
  font-size: 2rem;
  padding: 3px;
  margin: 7px;
  margin-bottom: 0px;
}
.formHolder input {
  font-size: 2rem;
  padding: 3px;
  margin: 7px;
  width: 20%;
  border: solid #000000 1px;
  border-radius: 5px;
}
.formHolder button {
  font-size: 2rem;
  padding: 3px;
  margin: 7px;
  width: 15%;
  border: solid #000000 1px;
  border-radius: 5px;
}
.formHolder button:hover {
  transform: scale(1.01);
  background-color: #6b6c65;
  cursor: pointer;
}
.formHolder .processEnd div {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.hDivisor {
  border-top: 1px solid #6b6c65;
  top: 50%;
  margin: 20px 60px 20px 60px;
}

.propertiesUl {
  background-color: #e7cfb0;
}
.propertiesUl ul {
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
  list-style-type: none;
}
.propertiesUl ul li {
  margin: auto;
  padding: 3px;
}

.presupuesto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.presupuesto p a {
  color: #000000;
}
.presupuesto p a:visited {
  text-decoration: none;
  color: #ffffff;
}

.ig {
  color: #000000;
}

footer {
  background-color: #6b6c65;
  margin-top: 5px;
}

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.redes-container ul li {
  display: inline-block;
  padding: 0;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-container ul li a {
  display: block;
  padding: 10px 10px;
  color: #ffffff;
  line-height: 60px;
  width: 60px;
  font-size: 3rem;
  border-radius: 5px;
}
.redes-container ul li a img {
  width: 30px;
}

.instagram {
  background: #dd2a7b;
}

.youtube {
  background: #ff0000;
}

.facebook {
  background: #3b5999;
}

.whatsapp {
  background: #43d854;
}

.author {
  font-size: 1.7rem;
  color: #ffffff;
  margin: 10px;
}

.ul-redes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "facebook youtube fa-instagram fa-whatsapp";
  padding: 0;
}

.personal {
  background-color: #333;
  padding: 3px;
  border-radius: 5px;
}
.personal:visited {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }
  header div ul {
    display: flex;
    flex-direction: row;
  }
  header div ul li {
    font-size: 2.2rem;
  }
  header div ul li:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }
  main {
    margin-top: 120px;
  }
  main section div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 100vw;
  }
  main section div h4 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px auto;
  }
  main section div img {
    max-width: 35vw;
    margin: auto;
  }
  .redes-container ul li a {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    background: #333;
    border-radius: 0;
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #ffffff 0, 0, 0, 0.4;
  }
  .redes-container ul li .instagram:hover {
    background: #dd2a7b;
  }
  .redes-container ul li .youtube:hover {
    background: #ff0000;
  }
  .redes-container ul li .facebook:hover {
    background: #3b5999;
  }
  .redes-container ul li .whatsapp:hover {
    background: #43d854;
  }
  .catalogo {
    width: 30%;
    margin: 0 35% 0 35%;
  }
  .calculadoraPresupuestos {
    width: 20%;
    font-size: 4rem;
  }
  .calculadoraPresupuestos:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .nsli:hover {
    cursor: pointer;
  }
  .introduccion {
    font-size: 1.9rem;
    width: 60%;
    margin: 15px auto;
    padding: 7px;
    border-radius: 5px;
    background-color: #e7cfb0;
  }
  .antesDespues {
    font-size: 3rem;
    margin: 15px;
    justify-self: center;
  }
  #confirmarCompra:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .propertiesUl ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}