footer{
    background-color: $background-footer;
    margin-top: 5px;
}
.redes-container{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    ul{
        li{
        display: inline-block;
        padding: 0;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        a{
        display: block;
        padding: 10px 10px;
        color: #ffffff;
        line-height: 60px;
        width: 60px;
        font-size: 3rem;
        border-radius: 5px;
        &:visited {
            color: #ffffff;
        }          
        img{
            width: 30px;
        }
        }
        }
    }
}
.instagram{
    background: $instagram;
}
.youtube{
    background: $youtube;
}
.facebook{
    background: $facebook
}
.whatsapp{
    background: $whatsapp;
}
.author{
    font-size: 1.7rem;
    color: #ffffff;
    margin: 10px;
    p{
        text-align: center;
    }
}
.ul-redes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "facebook youtube fa-instagram fa-whatsapp";
    padding: 0;
}
.personal{
    background-color: #333;
    padding: 3px;
    border-radius: 5px;
    color: #ffffff;
    &:visited{
        text-decoration: none;
        color: #ffffff;
    }
}