main{
    margin-top: 230px;
    max-width: 100vw;
    div{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        h5{
            font-size: 2rem;
            margin: 7px 3px 3px 5px;
            font-weight: 400;
        }
    }
}
section{
    .listaMateriales{
        margin: 15px 30px;
        li{
            font-size: 2rem;
        }
    }
}
.calculadoraPresupuestos{
    font-size: 2.4rem;
    border-radius: 5px;
    padding: 5px;
    background-color: $background-header;
    margin: 100px auto 0 auto;
    border: none;
    &:hover{
        transform: scale(1.02);
    }
}
.catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $background-header;
    border-radius: 5px;
    width: 100%;
    h4{
        font-size: 2.5rem;
        margin: auto;
    }
    table{
        margin: auto;
        thead{
            th{
                font-size: 1.7rem;
                padding: 3px 5px;
            }
        }
        tbody{
            td{
                font-size: 1.7rem;
                padding: 3px 5px;
            }
        }
    }
}
.muestraTrabajo{
    width: 100vw;
    height: 320px;
    margin: 10px 0;
    border-radius: 5px;
}
.introduccion{
    font-size: 1.6rem;
    text-align: justify;
    margin: 4px 10px;

}
.antesDespues{
    margin: auto;
    font-size: 2rem;
}
.welcome{
    font-size: 2rem;
}

h3{
    font-size: 2rem;
    margin: 7px;
}
p{
    font-size: 2rem;
    margin: 7px;
}

.cart {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.quantity {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 30px;
    text-align: center;
    border: none;
    font-size: 2rem;
    font-weight: bold;
}

.minus-btn, .plus-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: $background-footer;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}

.plus-btn {
    margin-left: 10px;
}

.minus-btn {
    margin-right: 10px;
}

.plus-btn:hover,
.minus-btn:hover {
    background-color: #e6e6e6;
}
#confirmarCompra{
    font-size: 2rem;
    margin: 10px;
    padding: 3px;
    background-color: $background-header;
    border-radius: 10px;
    border: none;
}
.formHolder{
    background-color: $background-header;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    label{
        font-size: 2rem;
        padding: 3px;
        margin: 7px;
        margin-bottom: 0px;
    }
    input{
        font-size: 2rem;
        padding: 3px;
        margin: 7px;
        width: 20%;
        border: solid #000000 1px;
        border-radius: 5px;
    }
    button{
        font-size: 2rem;
        padding: 3px;
        margin: 7px;
        width: 15%;
        border: solid #000000 1px;
        border-radius: 5px;
        &:hover{
            transform: scale(1.01);
            background-color: $background-footer;
            cursor: pointer;
        }
    }
    .processEnd{
        div{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        }
    }
}
.hDivisor{
  border-top: 1px solid $background-footer;
  top: 50%;
  margin: 20px 60px 20px 60px;
}
.propertiesUl{
    background-color: $background-header;
    ul{
        display: flex;
        flex-direction: column;
        font-size: 1.9rem;
        list-style-type: none;
        li{
            margin: auto;
            padding: 3px;
        }
    }
}
.presupuesto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    p{
        a{
            color: #000000;
        &:visited{
            text-decoration: none;
            color: #ffffff;
        }
        }
    }
}
.ig{
    color: #000000;
}