@media only screen and (min-width: 768px){
    header{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        div{
            ul{
                display: flex;
                flex-direction: row;
                li{
                    font-size: 2.2rem;
                    &:hover{
                        transform: scale(1.03);
                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                        border-radius: 7px;
                    }
                }
            }
        }
    }
    main{
        margin-top: 120px;
        section{
            div{
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                justify-content: space-evenly;
                max-width: 100vw;
                h4{
                font-size: 2.5rem;
                font-weight: 400;
                margin: 20px auto;
                }
                img{
                    max-width: 35vw;
                    margin: auto;
                }
                
            }
        }
        
    }
    .redes-container{
        ul{
            li{
                a{
                    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
                    transition: .2s;
                    background: $grey;
                    border-radius: 0;
                    &:hover{
                    transform: translateY(-3px) scale(1.05);
                    border-radius: 10px;
                    box-shadow: 0 5px 5px 0 $white(0, 0, 0, .4);
                    }
                }
                .instagram{
                    &:hover{
                        background: $instagram;
                    }
                }
                .youtube{
                    &:hover{
                        background: $youtube;
                    }
                }
                .facebook{
                    &:hover{
                        background: $facebook
                    }
                }
                .whatsapp{
                    &:hover{
                        background: $whatsapp;
                    }
                }
            }
        }
    }
    .catalogo{
        width: 30%;
        margin: 0 35% 0 35%;
    }
    .calculadoraPresupuestos{
        width: 20%;
        font-size: 4rem;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
    }
    .nsli{
        &:hover{
            cursor: pointer;
        }
    }
    .introduccion{
        font-size: 2rem;
        width: 60%;
        margin: 15px auto;
        padding: 7px;
        border-radius: 20px;
        background-color: $background-header;
    }
    .antesDespues{
        font-size: 3rem;
        margin: 15px;
        justify-self: center;
    }
    #confirmarCompra{
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}
