$background-body: #fdf4eb;
$background-header: #e7cfb0;
$underline-header: #9e6f31;
$background-footer: #6b6c65;
$facebook: #3b5999;
$youtube: #ff0000;
$instagram: #dd2a7b;
$whatsapp: #43d854;



$white: #ffffff;
$gold: #bf930d;
$very-dark-grey: #151515;
$very-very-dark-grey: #101010;
$full-black: #000000;
$grey: #333;
$light-grey: #8c8c8c;